@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
   --background: #282828;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/*Navigation css*/
h1 span {
    color: red;
}

h1 a {
    color: white;
    text-decoration: none;
}

.logo {
    color: white;
    /*margin: 0 removes space around logo*/
}

body {
    padding: 0;
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

header {
    margin: 0;
    padding: 0;
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: red;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color: white;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 750px){
.nav-toggle-label{
    display: none;
}
    
header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 4fr) 1fr;
}
    
.logo {
    grid-column: 2 / span 1;
}

nav {
    all: unset;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
    
nav a {
    opacity: 1;
    position: relative;
}
    
nav li {
    margin-left: 3em;
    margin-bottom: 0;
}
    
nav ul {
    display: flex;
}
    
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: red;
    position: absolute;
    top: -.45em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
        
}
    
nav a:hover::before {
    transform: scale(1,1);
    }   
}

/*Content css*/
#main-content {
    padding-top: 125px;
}

article.featured {
    position: relative;
    width: 1120px;
    height: 500px;
    box-shadow: 1px 1px 9px 1px #353535;
    margin: 0 auto;
    background-image: url(img/featuredarticle.jpg);
    background-size: 1120px 773px;;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

#div-featured p{
    position:absolute;
    text-align: center;
    background-color: rgb(40, 40, 40, 0.8);
    color: white;
    font-size: 2.5em;
    bottom: 0;
    left: 0;
    right: 0;
}

#div-featured a{
    text-decoration: none;
    color: white;
}

/*main*/
.container-body {
    display: grid;
    grid-template-rows: 5em 50vh auto 30em;
    grid-template-columns: 1fr 5fr 2fr 1fr;
    grid-template-areas: 
        ". . . ." 
        ". main sidebar ."
        ". . . . "
        ". . . .";
    grid-column-gap: 1.5em;
}

main {
    grid-area: main;
}

aside {
    grid-area: sidebar;
    padding: 2em;
}

.card {
  display: grid;
    grid-template:
    "img title" min-content
    "img content" auto / 1fr 3fr;
  grid-column-gap: 1.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  padding: 1.5em;
  margin-bottom: 1.5em;
    background-color: #282828;
    color: white;
}

.card-img {
  grid-area: img;
  max-width: 100%;
}

.card-title {
  grid-area: title;
  margin: 0;
  font-weight: 300;
}

.card-content {
  grid-area: content;
  
  a {
    color: red;
    font-size: 1.1em;
  }
}

.ads img{
    display: block;
    width: 90%;
    max-height: 100%;
    height: auto;
}

aside h1 {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttons{
    margin: auto;
    width: 50%;
}

.button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: #282828; 
        }

 .button-success:hover {
            background: red; 
        }


.blink_me {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
    color: red;
  }
}

/*Sign up form css*/
footer{
    top: px;
    position: relative;
    bottom: 0px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 300;
    background: #282828;
    box-shadow: 0 2px 10px rgba(0,0,0,0.6);
}

#login-box {
    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.left-box {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

.left-box h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transform: 0.2s ease;
}

input[type="submit"]
{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #f44336;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.4s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: #ff5722;
    transition: 0.2s ease;
}

.right-box{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background: url(../img/surbimg.jpg);
    background-size: contain;
    background-position: center;
}

.or {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #efefef;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    line-height: 40px;
    text-align: center;
}

.right-box .signinwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

button.social {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

.facebook {
    background: #32508e;
}

.twitter{
    background: #55acee;
}

.google{
    background: #dd4b39;
}