@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
   --background: #282828;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/*Navigation css*/
h1 span {
    color: red;
}

h1 a {
    color: white;
    text-decoration: none;
}

.logo {
    color: white;
    /*margin: 0 removes space around logo*/
}

body {
    padding: 0;
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

header {
    margin: 0;
    padding: 0;
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: red;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color: white;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 750px){
.nav-toggle-label{
    display: none;
}
    
header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 4fr) 1fr;
}
    
.logo {
    grid-column: 2 / span 1;
}

nav {
    all: unset;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
    
nav a {
    opacity: 1;
    position: relative;
}
    
nav li {
    margin-left: 3em;
    margin-bottom: 0;
}
    
nav ul {
    display: flex;
}
    
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: red;
    position: absolute;
    top: -.45em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
        
}
    
nav a:hover::before {
    transform: scale(1,1);
    }   
}

/*Content css*/
#main-content {
    padding-top: 80px;
}

#sony {
    padding: 0.5in 0;
    display: grid;
    grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.15in [end] 0.5in 1fr;
    background: linear-gradient(yellow, white 1in);
}

#sony1 {
     padding: 0.5in 0;
    display: grid;
    grid-template-columns: 1fr 0.5in [start] 1.25in 8in 1.15in [end] 0.5in 1fr;
}

figcaption {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

.utube {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.megamall > img {
    width: 60%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

article * {
    grid-column: start / end;
}

@media (max-width: 8.5in) {
    article {
        grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
    }
}

#sony > h2, p{
 margin-bottom: 2.4rem;   
}

#sony1 > h2, p {
    margin-bottom: 2.4rem;
}

article h1 {
    font: 700 2.0rem/1.2 "Roboto"; 
    color: hsl(000, 000%, 33%); 
}

article time {
    font: 700 1.0rem/1.2 "Roboto"; 
    color: hsl(250, 100%, 83%);
}

.next-back {
    display: table;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.next-back a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.next-back a:hover {
    background-color: red;
    color: white;
}

.previous{
    background-color: #282828;
    color: white;    
}

.next {
    background-color: #282828;
    color: white;
}

/*Sign up form css*/
footer{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 300;
    background: #282828;
    box-shadow: 0 2px 10px rgba(0,0,0,0.6);
}

#login-box {
    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.left-box {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

.left-box h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transform: 0.2s ease;
}

input[type="submit"]
{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #f44336;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.4s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: #ff5722;
    transition: 0.2s ease;
}

.right-box{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background: url(../img/surbimg.jpg);
    background-size: contain;
    background-position: center;
}

.or {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #efefef;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    line-height: 40px;
    text-align: center;
}

.right-box .signinwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

button.social {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

.facebook {
    background: #32508e;
}

.twitter{
    background: #55acee;
}

.google{
    background: #dd4b39;
}